@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

html, body
{
    min-height: 100%;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

#custom-bs .btn
{
    border-radius: 10px;
}

#custom-bs .lighten:hover
{
    transition: all 0.5s ease;
    color: hsl(0, 0%, 98%)!important;
}

#custom-bs .darken:hover
{
    transition: all 0.5s ease;
    color: hsl(0, 0%, 8%)!important;
}

#custom-bs .transparent:hover
{
    transition: all 0.5s ease;
    color: hsl(0, 0%, 8%)!important;
    background-color: rgba(0, 0, 0, 0)!important;
}

#custom-bs .text-light
{
    color: hsl(0, 0%, 98%)!important;
}

#custom-bs .text-dark
{
    color: hsl(0, 0%, 8%)!important;
}

#custom-bs .text-secondary
{
    color: hsl(0, 0%, 50%)!important;
}

#custom-bs .text-large
{
    font-size: 3rem!important;
    font-weight: 700!important;
}
